<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <!-- Logged but not ADMIN shouldn't be able to see "ADMIN" button and should see "add new route" button but not able to click -->
    <nav class="main-nav">
        <ul>
            <li>
                <a th:href="@{/home}">Home</a>
            </li>
            <li th:unless="${@currentUser.isLogged()}">
                <a th:href="@{/users/login}">Login</a>
            </li>
            <li th:unless="${@currentUser.isLogged()}">
                <a th:href="@{/users/register}">Register</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a href="/">Add new route</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a th:href="@{/users/profile/{id}(id = ${@currentUser.getId()})}">Profile</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a href="/">Admin</a>
            </li>
            <li th:if="${@currentUser.isLogged()}">
                <a th:href="@{/users/logout}">Logout</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>